<style>
  div.ex1 {
    padding-left: 50px;
  }

  div.ex2 {
    padding-left: 17px;
  }

  .button-container {
    display: flex;
  }

  div.req {
    padding-right: 100px;
  }
</style>
<img style="float: right;width: 30%;" src="https://cdn.quotesgram.com/img/28/90/1494718042-Health-Quotes-by-Buddah.jpg">
<div class="col-md-4">
  <img style="width: 40%;" src="https://th.bing.com/th/id/OIP.XyLNcQbnTF3ILBaWxbyLDwHaGu?pid=ImgDet&w=199&h=180&c=7&dpr=2">
  <h2 style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Update Vaccine</h2>
</div>
<br>
<div class="card"></div>
<br>
<div class="card">
  <br>
  <h4 style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;text-align: center;">Vaccine Details</h4>
  <div class="card"></div>
  <div>
    <div class="ex1">
      <div *ngIf="message" class="alert alert-success">
        <p> {{message}}</p>
      </div>
      <div *ngIf="errorMessage" class="alert alert-danger">
        <p> {{errorMessage}}</p>
      </div>
      <div>
        <form #vaccineForm="ngForm">
          <br>
          <div class="input-group flex-nowrap" style="width: 75%;">
            <span class="input-group-text" id="addon-wrapping">Vaccine Id</span>
            <input disabled type="number" [(ngModel)]="vaccine.vaccineId" class="form-control"   #idField="ngModel" name="id" id="id" aria-label="Username" aria-describedby="addon-wrapping">
          </div>
          <br>
          <div class="input-group flex-nowrap" style="width: 75%;">
            <span class="input-group-text" id="addon-wrapping">Vaccine Name</span>
            <input class="form-control" type="text" id="vaccineName" [(ngModel)]="vaccine.vaccineName" name="vaccineName" required
            #nameField="ngModel">        
          </div>
        <br>
          <div class="input-group flex-nowrap" style="width: 75%;">
            <span class="input-group-text" id="addon-wrapping">Manufacturing Date</span>
            <input class="form-control" type="date" id="manufacturingDate" [(ngModel)]="vaccine.manufacturingDate" name="manufacturingDate"><br>        
          </div>
          <br>
          <div class="input-group flex-nowrap" style="width: 75%;">
            <span class="input-group-text" id="addon-wrapping">Expiry Date</span>
            <input class="form-control" type="date" id="expiryDate" [(ngModel)]="vaccine.expiryDate" name="expiryDate"><br>
          </div>
          <br>
          <div class="input-group flex-nowrap" style="width: 75%;">
            <span class="input-group-text" id="addon-wrapping">Description</span>
            <textarea class="form-control" id="description" [(ngModel)]="vaccine.description" name="description" rows="4"></textarea><br>
          </div>
          <br>
          <div class="button">
            <button (click)="clear()" class="btn btn-warning">Back</button>&nbsp;&nbsp;&nbsp;
            <button (click)="updateVac()" style="margin-left: 10px;" class="btn btn-success">Update</button>
            <br>
          </div>
          <br>
        </form>
      </div>
    </div>
  </div>

</div>
