<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<img class="col-md-4" style="float:left;width: 8%;"
    src="https://static.vecteezy.com/system/resources/previews/000/290/610/original/administration-vector-icon.jpg">
<h2 class="col-md-4" style="font-style: italic;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">ADMIN DASHBOARD</h2>
<br>
<div class="col-md-4">
    <div class="card">
        <p >Total No of Logins : {{login}}</p>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
          </div>
    </div>
    
    <div class="card">
        <p>Vaccination Count : </p>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
          </div>
    </div>
</div>
<div class="col-md-4" style="float: right;">
    <div class="card" style="margin-top: -100px;">
        <p>Super Admin Count: {{superAdmin}}</p>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
          </div>
    </div>
    <div class="card">
        <p>Admin Count: {{admin}}</p>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
          </div>
    </div>
</div>


