
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.card {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px;
    margin: 10px 0;
    width: 90%;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    border: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    animation: fadeInUp 2s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

/* Animation */
@keyframes fadeInUp {
    from {
        transform: translate3d(0, 20px, 0);
        opacity: 0;
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}
