<img style="float: right;width: 15%;" src="https://images.vexels.com/media/users/3/245567/isolated/lists/9980e1091eef7dfa295818c1257590ff-fully-vaccinated-quote-stroke.png">
<div class="col-md-4">
  <img style="width: 30%;" src="https://www.kindpng.com/picc/m/77-775976_medical-services-icon-clipart-png-download-medical-services.png">
<h2 style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Manage Appointment</h2>
</div>
<br>
<div class="card"></div>
<br>
<div class="row justify-content-between">
    <div class="col-md-4">
        <form class="example">
            <input type="text" placeholder="Search.." name="search">
            <button><i class="fa fa-search"></i></button>
        </form>
    </div>
</div>
<br>
<div class="card"></div>
<br>
<div style="margin-top: 5%;">
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Sno.</th>
            <th scope="col">Patient id</th>
            <th scope="col">Patient name</th>
            <th scope="col">Approval status</th>
          </tr>
        </thead>
        <tbody>
          <tr (click)="checkAppointment(appointment)" *ngFor="let appointment of appointments;let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{appointment.patient?.patientId}}</td>
            <td>{{appointment.patient?.patientName}}</td>
            <td *ngIf="appointment.vaccineStatus"><button class="btn btn-success" disabled>Approved</button></td> 
            <td *ngIf="appointment.vaccineStatus==false"><button class="btn btn-danger" type="button" disabled>
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              Pending...
            </button></td>           
          </tr>
        </tbody>
      </table>
</div>
<div class="overlay" *ngIf="addStatus">
  <div class="card2">
   
    <button type="button" (click)="addStatus=false" style="float: right;" class="btn-close" aria-label="Close"></button>
    <br>
    <h4 style="text-align: center;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Appointment Details</h4>
    <div class="card"></div>

    <div style="margin-top: 5%;">
      <table class="table table-hover">
          <thead> 
            <tr>
              <th scope="col">Sno</th>
              <th scope="col">Start-End Time</th>
              <th scope="col">Vaccine status</th>
              <th scope="col">Vaccine</th>
              <th scope="col">booking date</th>
              <th scope="col">Approval</th>
            </tr>
          </thead>
          <tbody>
            <!-- <tr *ngFor="let appointmentVal of newAppointment;"> -->
              <th scope="row">{{newAppointment.bookingId}}</th>
              <td>{{newAppointment.slot?.startTime}} - {{newAppointment.slot?.endTime}}</td>
              <td>{{newAppointment.vaccineStatus}}</td>
              <td>{{newAppointment.vaccine?.vaccineName}}</td>
              <td>{{newAppointment.bookingDate}}</td>
              <td><button  class="btn btn-primary" (click)="updateAppointment(newAppointment)">{{ !newAppointment.vaccineStatus  ? 'Approve' : 'Disapprove' }}</button></td>
            <!-- </tr> -->
            
          </tbody>
        </table>
  </div>
  </div>
</div>


<router-outlet></router-outlet>
