
<div class="row justify-content-between">
    <div class="col-md-4">
        <form class="example">
            <input type="text" placeholder="Search.." name="search">
            <button><i class="fa fa-search"></i></button>
        </form>
    </div>
</div>
<div style="margin-top: 5%;">
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Sno.</th>
            <th scope="col">Patient id</th>
            <th scope="col">Patient name</th>
            <th scope="col">appointment</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let appointment of appointments;let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{appointment.patient?.patientId}}</td>
            <td>{{appointment.patient?.patientName}}</td>
            <td><button type="default" (click)="checkAppointment(appointment)">check appointments</button></td>
            <td><button type="default" (click)="updateAppointment(appointment)">{{ !appointment.vaccineStatus  ? 'Approve' : 'Disapprove' }}</button></td>
          </tr>
        </tbody>
      </table>
</div>
<div class="overlay" *ngIf="addStatus">
  <div class="card">
    <a style="cursor: pointer;color:red;text-align: right;" (click)="addStatus=false" ><u>x</u></a>
    <div style="margin-top: 5%;">
      <table class="table table-hover">
          <thead> 
            <tr>
              <th scope="col">Sno</th>
              <th scope="col">Start-End Time</th>
              <th scope="col">Vaccine status</th>
              <th scope="col">Vaccine</th>
              <th scope="col">booking date</th>
            </tr>
          </thead>
          <tbody>
            <!-- <tr *ngFor="let appointmentVal of newAppointment;"> -->
              <th scope="row">{{newAppointment.bookingId}}</th>
              <td>{{newAppointment.slot?.startTime}} - {{newAppointment.slot?.endTime}}</td>
              <td>{{newAppointment.vaccineStatus}}</td>
              <td>{{newAppointment.vaccine?.vaccineName}}</td>
              <td>{{newAppointment.bookingDate}}</td>
  
            <!-- </tr> -->
            
          </tbody>
        </table>
  </div>
  </div>
</div>
<router-outlet></router-outlet>
