

<style>
    div.ex1 {
      padding-left: 50px;
    }
    div.ex2 {
      padding-left: 17px;
    }
    .button-container {
        display: flex;
    }
    div.req {
        padding-right: 100px;
    }
</style>


<div>
    <br><h5> Update center:</h5>
    <div class="ex1">
        <div *ngIf="message" class="alert alert-success">
            <p> {{message}}</p>
        </div>
        <div *ngIf="errorMessage" class="alert alert-danger">
            <p> {{errorMessage}}</p>
        </div>
        <div>
            <form #centerForm="ngForm">
                <div class="form-group ">
                    <label for="id">Center id</label><br>
                    <input disabled="true" type="number" id="id" name="id" [(ngModel)]="center.centerId" required #nameField="ngModel"><br>
                    <div class ="req" *ngIf="nameField.invalid && nameField.touched" class="alert alert-danger">Center id is required.</div>
                </div>

                <div class="form-group">
                    <label for="name">Center Name</label><br>
                    <input type="text" id="name" name="name" [(ngModel)]="center.centerName" required #nameField="ngModel"><br>
                    <div class ="req" *ngIf="nameField.invalid && nameField.touched" class="alert alert-danger">Center name is required.</div>
                </div>

                <label for="address">Address</label><br>
                <input type="text" id="address" name="address" [(ngModel)]="center.address"><br>

                <div class="form-group">
                    <label for="pincode">Pincode</label><br>
                    <input type="text" id="pincode" name="pincode" [(ngModel)]="center.pincode" required #pincodeField="ngModel" ><br>
                    <div class="req" *ngIf="pincodeField.invalid && pincodeField.touched" class="alert alert-danger">Center pincode is required.</div>
                </div>

                <label for="admin">Admin</label><br>
                <!-- <input type="text" id="admin" name="admin" [(ngModel)]="newCenter.district" placeholder="Enter District"><br> -->
                
                <select class="form-select" [(ngModel)]="center.admin!.adminId" name="selectedAdmin">
                    <option *ngFor="let admin of adminList" [ngValue]="admin.adminId">{{admin.adminName}}</option>
                  </select>

                <!--
                <div class="form-group">
                    <label for="pincode">Pincode</label><br>
                    <input type="text" id="pincode" name="pincode" [(ngModel)]="newCenter.pincode" required pattern="^[0-9]{6}$" #pincodeField="ngModel"><br>
                    <div *ngIf="pincodeField.invalid && pincodeField.touched" class="alert alert-danger">
                        <div *ngIf="pincodeField.errors['required']">Pincode is required.</div>
                        <div *ngIf="pincodeField.errors['pattern']">Pincode must be 6 digits.</div>
                    </div>
                </div>
                -->
                <label for="district">District</label><br>
                <input type="text" id="district" name="district" [(ngModel)]="center.district" #districtRef="ngModel" pattern="[ A-Za-z]{3,}"><br>
                <div *ngIf="districtRef.invalid && (districtRef.touched || districtRef.dirty)">
                    <p *ngIf="districtRef.errors?.['required']" class="text-danger">district is required, cant be blank.</p>
                    <p *ngIf="districtRef.errors?.['pattern']" class="text-danger">Only chars are allowed,Min 3 char required.</p>
                  </div>
                <label for="state">State</label><br>
                <input type="text" id="state" name="state" [(ngModel)]="center.state" #stateRef="ngModel" pattern="[ A-Za-z]{3,}"><br>
                <div *ngIf="stateRef.invalid && (stateRef.touched || stateRef.dirty)">
                    <p *ngIf="stateRef.errors?.['required']" class="text-danger">state is required, cant be blank.</p>
                    <p *ngIf="stateRef.errors?.['pattern']" class="text-danger">Only chars are allowed,Min 3 char required.</p>
                  </div>
                <label for="contactNo">Contact Number</label><br>
                <input type="text" id="contactNo" name="contactNo" [(ngModel)]="center.contactNumber" #phoneRef="ngModel" pattern="[0-9]{10,10}">
                <div *ngIf="phoneRef.invalid && (phoneRef.touched || phoneRef.dirty)">
                    <p *ngIf="phoneRef.errors?.['required']" class="text-danger">phone number is required, cant be blank.</p>
                    <p *ngIf="phoneRef.errors?.['pattern']" class="text-danger">Only 10 digits allowed.</p>
                  </div><br>
                <br>
                <div class="button">
                    <button (click)="clear()" class="btn btn-danger">clear</button>&nbsp;&nbsp;&nbsp;
                    <button (click)="updateCenter()" class="btn btn-success">Update</button>
                </div>

            </form>
        </div>
    </div>
</div>


