<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<img style="width: 25%;float: right;" src="https://th.bing.com/th/id/R.da1377e5ce780b3a9c93a4b357babf6a?rik=HKUsGVpz2FQAgg&riu=http%3a%2f%2fwww.quotemaster.org%2fimages%2f7a%2f7a17390de51638f50504ad8e2afc7a5d.jpeg&ehk=rlGpUCoej9NmoDavY1qmM%2fyVEayB%2fLjF41P2VrRdR78%3d&risl=&pid=ImgRaw&r=0">
    <div class="col-md-4">
        <img style="width: 40%;"
    src="https://www.shareicon.net/data/2016/04/14/492851_admin_256x256.png">
        <h2
            style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
            ADMIN</h2>
            <h2
            style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
            MANAGEMENT</h2>
    </div>
    <div class="card"></div>
    <br>
    <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
        <div class="col-md-4"> 
          <form class="example">
            <input *ngIf="emailStatus==true" style="float: left;" placeholder="Search.." name="search"
            [(ngModel)]="searchString">
        <input *ngIf="nameStatus==true" style="float: left;" placeholder="Search.." name="search"
            [(ngModel)]="searchString">  
        <input *ngIf="idStatus==true" type="number" placeholder="Search.." name="search" [(ngModel)]="searchString">
        <button (click)="searchAdmin()"><i class="fa fa-search"></i></button>
        </form>   
    </div>
       <button (click)="addStatus=true" style="margin-right: 60px;" type="button"
       class="btn btn-primary">+ Add Admin</button>    </div>
    <div>
        <br>
        <p style="margin-top: 10px;">Search By:</p>
        <input type="radio" id="html" name="fav_language" (change)="idStatus=true;emailStatus=false;nameStatus=false">
        <label for="html" style="margin-right: 15px;margin-top: 10px; margin-left: 5px;">Id</label>
        <input type="radio" id="css" name="fav_language" (change)="idStatus=false;emailStatus=true;nameStatus=false">
        <label for="css" style="padding-left: 5px;">Email</label>
        <input type="radio" id="name" name="fav_language"style="margin-right: 5px;margin-top: 10px; margin-left: 15px;" (change)="idStatus=false;emailStatus=false;nameStatus=true">
        <label for="name" >Name</label>
        <input type="radio" id="name" name="fav_language"style="margin-right: 5px;margin-top: 10px; margin-left: 15px;" (change)="idStatus=false;emailStatus=true;nameStatus=false;searchString=undefined;searchAdmin()">
        <label for="name" >All</label><br>
    
    </div>
    <br>
    <div class="card"></div>
    <div class="overlay" *ngIf="addStatus==true">
        <form class="card2">
            <button type="button" class="btn-close" aria-label="Close" style="text-align: right;float: right;"(click)="addStatus=false;"></button>
            <br>  
            <h2 style="text-align: center; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">ADD ADMIN</h2>
              <div class="card"></div>
              <br>

              <div class="input-group flex-nowrap"style="width: 100%;">
                <span class="input-group-text" id="addon-wrapping">Email</span>
                <input name="email" type="text" [(ngModel)]="adminDetails.email" required class="form-control" aria-label="Username" aria-describedby="addon-wrapping">
            </div>
            <br>
            <div class="input-group flex-nowrap"style="width: 100%;">
                <span class="input-group-text" id="addon-wrapping">Phone No</span>
                <input name="phone" type="number" [(ngModel)]="adminDetails.phoneNumber" required class="form-control" aria-label="Username" aria-describedby="addon-wrapping">
            </div>
            <br>
            <div class="input-group flex-nowrap"style="width: 100%;">
                <span class="input-group-text" id="addon-wrapping">Admin Name</span>
                <input name="name" type="text" [(ngModel)]="adminDetails.adminName" required class="form-control" aria-label="Username" aria-describedby="addon-wrapping">
            </div>
            <br>
            <div class="input-group flex-nowrap"style="width: 100%;">
                <span class="input-group-text" id="addon-wrapping">Password</span>
                <input name="password" type="password" [(ngModel)]="adminDetails.password" required class="form-control" aria-label="Username" aria-describedby="addon-wrapping">
            </div>
            <br>
            <div class="input-group flex-nowrap"style="width: 100%;">
                <span class="input-group-text" id="addon-wrapping">Admin Type</span>
                <input name="Type" type="text" [(ngModel)]="adminDetails.adminType" required class="form-control" aria-label="Username" aria-describedby="addon-wrapping">
            </div>
            <br>
            <button class="btn btn-primary" (click)="addAdmin();">Submit</button>
            </form>
    </div>
<br>
<h4 *ngIf="deleteAdminSuccess.length>0" style="color: lightgreen;font-family: 'Times New Roman', Times, serif;">
    {{deleteAdminSuccess}}</h4>
<h4 *ngIf="deleteAdminError.length>0" style="color: red;font-family: 'Times New Roman', Times, serif;">
    {{deleteAdminError}}</h4>
<h4 *ngIf="addAdminSuccess.length>0" style="color: #2ecc71;font-family: 'Times New Roman', Times, serif;">
    {{addAdminSuccess}}</h4>
<h4 *ngIf="addAdminError.length>0" style="color: #e74c3c;font-family: 'Times New Roman', Times, serif;">
    {{addAdminError}}</h4>
<div>
    <h4 *ngIf="searchError.length>0" style="color: red;font-family: 'Times New Roman', Times, serif;">{{searchError}}
    </h4>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">NAME</th>
                <th scope="col">ADMIN TYPE</th>
                <th scope="col">EMAIL</th>
                <th scope="col">PHONE-NO</th>
                <th scope="col">ACTION</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let account of  accounts;">
                <th scope="row">{{account.adminId}}</th>
                <td>{{account.adminName}}</td>
                <td>{{account.adminType}}</td>
                <td>{{account.email}}</td>
                <td>{{account.phoneNumber}}</td>
                <td><button class="btn btn-primary btn-sm" style="background-color: red;" (click)="deleteAdmin(account)">DELETE</button></td>
            </tr>

        </tbody>
    </table>
</div>