<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Vaccine Name</th>
        <th scope="col">Manufacturing Date</th>
        <th scope="col">Expiry Date</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let vaccine of vaccineArray; let i = index" >
        <th scope="row">{{i + 1}}</th>
        <td>{{vaccine.vaccineName}}</td>
        <td>{{vaccine.manufacturingDate}}</td>
        <td>{{vaccine.expiryDate}}</td>
        <td>{{vaccine.description}}</td>
        
        <td><button type="button" class="btn btn-primary" (click)="addVaccineToCenter(vaccine)">Add</button></td>
      </tr>
    </tbody>
  </table>
