

<!-- <br>
<div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="search center" [(ngModel)]="query" aria-label="Recipient's username" aria-describedby="button-addon2">
    </div>
</div>

<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Center Name</th>
        <th scope="col">Address</th>
        <th scope="col">Contact</th>
        <th scope="col">State</th>
        <th scope="col">Pincode</th>
        <th></th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let vaccineCenter of centers | search:query">
        <th scope="row">{{vaccineCenter.centerId}}</th>
        <td>{{vaccineCenter.centerName}}</td>
        <td>{{vaccineCenter.address}}</td>
        <td>{{vaccineCenter.contactNumber}}</td>
        <td>{{vaccineCenter.state}}</td>
        <td>{{vaccineCenter.pincode}}</td>
        <td><button type="button" class="btn btn-primary" (click)="displayVaccines(vaccineCenter)">Available Vaccines</button></td>
      </tr>
    </tbody>
  </table> -->
  <img style="width: 20%;float: right;margin-top: 20px;" src="https://1.bp.blogspot.com/-dOrXEQ4oQmc/XW6UtHvIQNI/AAAAAAAABEI/erQeDZxu35czhIIetxiNcC_AwZlJAOhBgCLcBGAs/s1600/Stay%2BSafe.jpg">
<div class="col-md-5">
  <img style="width: 30%;" src="https://as2.ftcdn.net/v2/jpg/04/07/11/71/1000_F_407117111_HnMS52JDuKnO8Ro3S9olpJh4r9gFeqDl.jpg">
 <h2 style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Center Location</h2>
</div>
<div class="card"></div>
<br>
<br>
<div class="row justify-content-between">
    <div >
      <form class="example">
        <input type="text" placeholder="Search.." name="search">
        <button><i class="fa fa-search"></i></button>
    </form>
    </div>
</div>
<br>
<div class="card"></div>
<br>
<div style="margin-top: 5%;">
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Sno</th>
            <th scope="col">Center Name</th>
            <th scope="col">District</th>
            <th scope="col">State</th>
            <th scope="col">Contact Number</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let center of centers;let i = index" (click) = "selectCenter(center.centerId)">
            <th scope="row">{{i + 1}}</th>
            <td>{{center.centerName}}</td>
            <td>{{center.district}}</td>
            <td>{{center.state}}</td>
            <td>{{center.contactNumber}}</td>

          </tr>
          
        </tbody>
      </table>
</div>
<h4 *ngIf="centers.length<1" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;text-align: center;">No Centre Available.....</h4>
