<div class="row justify-content-between">
    <div class="col-md-4">
        <form class="example">
            <input type="text" placeholder="Search.." name="search">
            <button><i class="fa fa-search"></i></button>
        </form>
    </div>
    <div class="col-md-4">
        <button type="button" class="btn btn-primary btn-sm" style="margin-top: 10px;margin-left: 70px;" (click)="bookAppointment()">+ Book Appointment</button>
    </div>
</div>
<div *ngIf="appointments.length > 0" style="margin-top: 5%;">
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Sno</th>
            <th scope="col">Slot Time</th>
            <th scope="col">Vaccine status</th>
            <th scope="col">Vaccine</th>
            <th scope="col">booking date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let appointment of appointments;">
            <th scope="row">{{appointment.bookingId}}</th>
            <td>{{appointment.slot?.startTime}} - {{appointment.slot?.endTime}}</td>
            <td *ngIf="appointment.vaccineStatus">Approved </td>
            <td *ngIf="!appointment.vaccineStatus">Pending </td>
            <td>{{appointment.vaccine?.vaccineName}}</td>
            <td>{{appointment.bookingDate}}</td>
            <td>
              <button (click)="generateCertificate(appointment.bookingId!)"  class="btn btn-primary" [disabled]="!appointment.vaccineStatus">Download PDF File</button>

            </td>
          </tr>
          
        </tbody>
      </table>
</div>