<img style="float: right;width: 30%;" src="https://appt.widgetfinancial.com/assets/images/appointmentlogo.png">
<div class="col-md-4">
  <img style=" width: 40%;" src="https://static.vecteezy.com/system/resources/previews/005/232/517/original/online-appointment-for-medical-assistance-flat-outline-icon-vector.jpg">
  <h2 style="font-style: italic;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">My Appointments</h2>
  <br>
</div>
<div class="card"></div>
<br>
<br>
<div class="row justify-content-between">
  
    <div class="col-md-4">
        <form class="example">
            <input type="date" placeholder="Search.." name="search" [(ngModel)]="name">
            <button  (click)="search()"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <div class="col-md-4">
        <button type="button" class="btn btn-primary btn-sm" style="margin-top: 10px;margin-left: 70px;" (click)="bookAppointment()">+ Book Appointment</button>
    </div>
</div>
<br>
<div class="card"></div>
<br>
<div *ngIf="appointments.length > 0" style="margin-top: 5%;">
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Sno</th>
            <th scope="col">Slot Time</th>
            <th scope="col">Vaccine status</th>
            <th scope="col">Vaccine</th>
            <th scope="col">booking date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let appointment of appointments;">
            <th scope="row">{{appointment.bookingId}}</th>
            <td>{{appointment.slot?.startTime}} - {{appointment.slot?.endTime}}</td>
            <td *ngIf="appointment.vaccineStatus">Approved </td>
            <td *ngIf="!appointment.vaccineStatus">Pending </td>
            <td>{{appointment.vaccine?.vaccineName}}</td>
            <td>{{appointment.bookingDate}}</td>
            <td>
              <button (click)="generateCertificate(appointment.bookingId!)"  class="btn btn-primary" [disabled]="!appointment.vaccineStatus">Download PDF File</button>

            </td>
          </tr>
          
        </tbody>
      </table>
</div>
<h4 *ngIf="appointments.length<1" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;text-align: center;">No Bookings.....</h4>