<style>
  div.ex1 {
    padding-left: 50px;
  }

  div.ex2 {
    padding-left: 17px;
  }

  .button-container {
    display: flex;
  }

  div.req {
    padding-right: 100px;
  }
</style>
<br>
<h5> Create Vaccine:</h5>
<div class="ex1">
  <div *ngIf="message" class="alert alert-success">
    <p> {{message}}</p>
  </div>
  <div *ngIf="errorMessage" class="alert alert-danger">
    <p> {{errorMessage}}</p>
  </div>
  <div>
    <form #vaccineForm="ngForm" (ngSubmit)="createVac()">
      <div class="form-group">
        <label for="vaccineName">Vaccine Name:</label><br>
        <input type="text" id="vaccineName" [(ngModel)]="vaccine.vaccineName" name="vaccineName" required
          #nameField="ngModel" placeholder="Enter vaccine name"><br>
        <div class="req" *ngIf="nameField.invalid && nameField.touched" class="alert alert-danger">Vaccine name is
          required.</div>
      </div>


      <label for="manufacturingDate">Manufacturing Date:</label><br>
      <input type="date" id="manufacturingDate" [(ngModel)]="vaccine.manufacturingDate" name="manufacturingDate"><br>

      <label for="expiryDate">Expiry Date:</label><br>
      <input type="date" id="expiryDate" [(ngModel)]="vaccine.expiryDate" name="expiryDate"><br>


      <label for="description">Description:</label><br>
      <textarea id="description" [(ngModel)]="vaccine.description" name="description" rows="4"></textarea><br>
      <div class="button-container">
        <!--<button type="button" class="btn btn-warning" (click)="goBackToPrevPage()">back</button>-->
        <div class="ex2">
          <button type="submit" class="btn btn-success">Create Vaccine</button>
        </div>
      </div>


    </form>
  </div>