
<br>
<div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="search center" [(ngModel)]="query" aria-label="Recipient's username" aria-describedby="button-addon2">
    </div>
    <button type="button" class="btn btn-primary" (click)="addCenter()">+ Add center</button>
</div>

<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Center Name</th>
        <th scope="col">Address</th>
        <th scope="col">Contact</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let vaccineCenter of centerArray | search:query">
        <th scope="row">{{vaccineCenter.centerId}}</th>
        <td>{{vaccineCenter.centerName}}</td>
        <td>{{vaccineCenter.address}}</td>
        <td>{{vaccineCenter.contactNumber}}</td>
        <td><button type="button" class="btn btn-primary" (click)="updateCenter(vaccineCenter)">Update</button></td>
        <td><button type="button" class="btn btn-primary" (click)="deleteCenter(vaccineCenter.centerId)">Delete</button></td>
      </tr>
    </tbody>
  </table>