<img style="width: 30%;float: right;" src="https://thumbs.dreamstime.com/b/together-fight-inspirational-positive-quote-coronavirus-covid-pandemic-hash-tag-stay-home-social-distancing-177125119.jpg">
<div class="col-md-4">
  <img style="width: 40%;" src="https://thumbs.dreamstime.com/b/hospital-building-clinic-medical-business-logo-template-flat-color-hospital-building-clinic-medical-business-logo-template-flat-148677990.jpg">
  <h2 style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Manage Centers</h2>
</div>
<br>
<div class="card"></div>
<br>
<div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
    <div class="col-md-4">
      <form class="example">
        <input type="text" placeholder="Search.." name="search" [(ngModel)]="name">
        <button (click)="search()"><i class="fa fa-search"></i></button>
    </form>   
   </div>
    <button type="button" style="margin-right: 60px;" class="btn btn-primary" (click)="addCenter()">+ Add center</button>
</div>
<br>
<div class="card"></div>
<br>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Center Name</th>
        <th scope="col">Address</th>
        <th scope="col">Contact</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let vaccineCenter of centerArray | search:query">
        <th scope="row">{{vaccineCenter.centerId}}</th>
        <td>{{vaccineCenter.centerName}}</td>
        <td>{{vaccineCenter.address}}</td>
        <td>{{vaccineCenter.contactNumber}}</td>
        <td><button type="button" class="btn btn-primary" (click)="updateCenter(vaccineCenter)">Update</button></td>
        <td><button type="button" class="btn btn-primary" (click)="deleteCenter(vaccineCenter.centerId)">Delete</button></td>
      </tr>
    </tbody>
  </table>