<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Admin</title>
    
</head>
<body>
    <h3 style="font-style: italic;font-family: 'Times New Roman', Times, serif;margin-left: 10px;color: chocolate;">Welcome Admin</h3>
    <div class="card">
        <ul>   
            <li>
                <h4>Admin ID: <span class="highlight"> {{details.adminId}}</span></h4>
            </li>
            <li>
                <h4>Admin Name: <span class="highlight"> {{details.adminName}}</span></h4>
            </li>
            <li>
                <h4>Email: <span class="highlight"> {{details.email}}</span></h4>
            </li>
            <li>
                <h4>Phone Number: <span class="highlight"> {{details.phoneNumber}}</span></h4>
            </li>
            <li>
                <h4>Admin Type: <span class="highlight"> {{details.adminType}}</span></h4>
            </li>
        </ul>
    <button style="background-color: green;color: white;width: 100%;" (click)="updateStatus=!updateStatus">UPDATE</button>
        <br>
        <button style="background-color: red;color: white;width: 100%;" (click)="delete()">DELETE</button>
    </div>
    <div class="overlay" *ngIf="updateStatus==true">
        <form class="card">
            <h4 *ngIf="updateAdminSuccess.length>0"style="color: #2ecc71; text-align: center;">{{updateAdminSuccess}}</h4>
            <h4 *ngIf="updateAdminError.length>0"style="color: #e74c3c;text-align: center;">{{updateAdminError}}</h4>
            <h2 style="text-align: center;">UPDATE ADMIN</h2>
            <label name="Phone" style="color: cornflowerblue;">Phone No</label>
            <input type="number" name="Phone" placeholder="{{details.phoneNumber}}"[(ngModel)]="updateDetails.phoneNumber" #phoneRef="ngModel" pattern="[0-10]{10,10}" required/>
            <div *ngIf="phoneRef.invalid && (phoneRef.touched || phoneRef.dirty)">
                <p *ngIf="phoneRef.errors?.['required']" class="text-danger">phone number is required, cant be blank.</p>
                <p *ngIf="phoneRef.errors?.['pattern']" class="text-danger">Only 10 digits allowed.</p>
            </div>
            <br>
            <label name="adminName"style="color: cornflowerblue;">AdminName</label>
            <input type="text" name="adminName" placeholder="{{details.adminName}}"[(ngModel)]="updateDetails.adminName"  #nameRef="ngModel" pattern="[A-Za-z ]{3,}" required/>
            <div *ngIf="nameRef.invalid && (nameRef.touched || nameRef.dirty)">
                <p *ngIf="nameRef.errors?.['required']" class="text-danger">Name is required, cant be blank.</p>
                <p *ngIf="nameRef.errors?.['pattern']" class="text-danger">Only chars are allowed,Min 3 char required.</p>
            </div>
            <br>
            <label name="password"style="color: cornflowerblue;">Password</label>
            <input type="password" name="password" placeholder="{{details.password}}"[(ngModel)]="updateDetails.password" #passRef="ngModel" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" required/>
            <div *ngIf="passRef.invalid && (passRef.touched || passRef.dirty)">
                <p *ngIf="passRef.errors?.['required']" class="text-danger">password is required, cant be blank.</p>
                <p *ngIf="passRef.errors?.['pattern']" class="text-danger">minimum 8 characters with atleast 1 lowercase,uppercase and special character.</p>
            </div>
            <br>
            <label name="type"style="color: cornflowerblue;">Admin Type</label>
            <input type="text" name="type" placeholder="{{details.adminType}}"[(ngModel)]="updateDetails.adminType"required/>
            <br>
            <br>
            <button  style="background-color: green;color: white;width: 100%;" (click)="update()">SUBMIT</button>
            <br>
            <button style="width: 100%;background-color: lightslategrey;"(click)="updateStatus=false;updateAdminSuccess='';updateAdminError=''">BACK</button>
        </form>
    </div>
</body>

</html>

