<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Admin</title>
    
</head>
<body>
    <div class="card">
        <ul>
            <li>
                <h4>Admin ID: <span class="highlight"> {{details.adminId}}</span></h4>
            </li>
            <li>
                <h4>Admin Name: <span class="highlight"> {{details.adminName}}</span></h4>
            </li>
            <li>
                <h4>Email: <span class="highlight"> {{details.email}}</span></h4>
            </li>
            <li>
                <h4>Phone Number: <span class="highlight"> {{details.phoneNumber}}</span></h4>
            </li>
            <li>
                <h4>Admin Type: <span class="highlight"> {{details.adminType}}</span></h4>
            </li>
        </ul>
        <button style="background-color: green;color: white;width: 100%;">UPDATE</button>
    </div>
</body>

</html>

