

<style>
    div.ex1 {
      padding-left: 50px;
    }
    div.ex2 {
      padding-left: 17px;
    }
    .button-container {
        display: flex;
    }
    div.req {
        padding-right: 100px;
    }
</style>
<img style="float: right;width: 20%;" src="https://th.bing.com/th/id/OIP.8M66OwYlmcdBsG-Q07LUSgHaEo?rs=1&pid=ImgDetMain">
<div class="col-md-4">
    <img style="width: 30%;" src="https://th.bing.com/th/id/OIP.IGD9u8wt4loA2kSc1HccNAHaHa?pid=ImgDet&w=199&h=199&c=7&dpr=2">
    <h2 style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Manage Center</h2>
</div>
<br>
<div class="card"></div>
<br>
<div class="card">
    <br>
    <h4 style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;text-align: center;">Center Details</h4>
    <div class="card"></div>
    <br>
    <div class="ex1">
        <div *ngIf="message" class="alert alert-success">
            <p> {{message}}</p>
        </div>
        <div *ngIf="errorMessage" class="alert alert-danger">
            <p> {{errorMessage}}</p>
        </div>
        <div>
            
            <form #centerForm="ngForm">
                <br>
                <div class="input-group flex-nowrap" style="width: 75%;">
                    <span class="input-group-text" id="addon-wrapping">Center Id</span>
                    <input class="form-control"  disabled="true" type="number" id="id" name="id" [(ngModel)]="center.centerId" required #nameField="ngModel"><br>
                  </div>
                  <br>
                  <div class="input-group flex-nowrap" style="width: 75%;">
                    <span class="input-group-text" id="addon-wrapping">Center Name</span>
                    <input class="form-control" type="text" id="name" name="name" [(ngModel)]="center.centerName" required #nameField="ngModel"><br>
                  </div>
                  <br>
                  <div class="input-group flex-nowrap" style="width: 75%;">
                    <span class="input-group-text" id="addon-wrapping">Address</span>
                    <input class="form-control" type="text" id="address" name="address" [(ngModel)]="center.address"><br>
                </div>
                  <br>
                  <div class="input-group flex-nowrap" style="width: 75%;">
                    <span class="input-group-text" id="addon-wrapping">Pin-code</span>
                    <input class="form-control" type="text" id="pincode" name="pincode" [(ngModel)]="center.pincode" required #pincodeField="ngModel" ><br>
                  </div>
                  <br>
                  <div class="input-group flex-nowrap" style="width: 75%;">
                    <span class="input-group-text" id="addon-wrapping">District</span>
                    <input class="form-control" type="text" id="district" name="district" [(ngModel)]="center.district" ><br>
                </div>
                <br>
                  <div class="input-group flex-nowrap" style="width: 75%;">
                    <span class="input-group-text" id="addon-wrapping">State</span>
                    <input class="form-control" type="text" id="state" name="state" [(ngModel)]="center.state"><br>
                </div>
                <br>
                  <div class="input-group flex-nowrap" style="width: 75%;">
                    <span class="input-group-text" id="addon-wrapping">Contact-No</span>
                    <input class="form-control" type="text" id="contactNo" name="contactNo" [(ngModel)]="center.contactNumber"><br>
                </div>

                <br>
                <div class="button">
                    <button (click)="updateCenter()" class="btn btn-success">Update</button>
                </div>
                <br>
            </form>
        </div>
    </div>
</div>


